/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 600px;
    height: 270px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 600px;
    height: 90px;
    background-color: red;
}

#midden{
    width: 600px;
    height: 90px;
    background-color: white;
}

#onderkant{
    width: 600px;
    height: 90px;
    background-color: blue;
}