/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 600px;
    height: 270px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 200px;
    height: 270px;
    background-color: blue;
    display: inline-block;
}

#Midden{
    width: 200px;
    height: 270px;
    background-color: white;
    display: inline-block;
}

#onderkant{
    width: 200px;
    height: 270px;
    background-color: red;
    display: inline-block;
}